@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  overflow-x: hidden;

  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  color: gray;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  background-color: rgb(239, 239, 239);
}

.left-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.right-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  flex: 1;
  gap: 24px;
  padding-top: 5px;
}

.buttons {
  display: flex;

  gap: 20px;

  border: none;
}
button {
  padding: 10px 18px;
}
a {
  text-decoration: none;
}
a:link {
  color: rgb(121, 120, 120);
}
