/* Add CSS Styling */
.odd {
  background-color: rgb(254, 119, 141);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
  color: hsl(240, 100%, 50%);
  font-size: 36px;
}
.third {
  font-size: 24px;
}
#fourth {
  background-color: #adff2f;
  font-size: 24px;
  font-weight: bold;
}
